In [4]:
import pandas as pd

In [6]:
# utworzenie DataFrame od zera

employees = {
    "imie" : ["Daniel","Jarosław","Mateusz"],
    "nazwisko": ["Kowalski","Nowak","Zieliński"],
    "rok_urodzenia": [1970, 1980, 1990]
}

df = pd.DataFrame(employees)
df

       imie   nazwisko  rok_urodzenia
0    Daniel   Kowalski           1970
1  Jarosław      Nowak           1980
2   Mateusz  Zieliński           1990

In [7]:
df.columns

Index(['imie', 'nazwisko', 'rok_urodzenia'], dtype='object')

In [8]:
df.columns[1]

'nazwisko'

In [10]:
df.columns[2] = "rok ur"

TypeError: Index does not support mutable operations

In [11]:
df.columns = ["Imie","Nazwisko","Rok urodzenia"]
df

       Imie   Nazwisko  Rok urodzenia
0    Daniel   Kowalski           1970
1  Jarosław      Nowak           1980
2   Mateusz  Zieliński           1990

In [12]:
# jak dostać się do kolumn
df["Imie"]

0      Daniel
1    Jarosław
2     Mateusz
Name: Imie, dtype: object

In [18]:
type(df.Imie)

pandas.core.series.Series

In [15]:
df[["Imie","Rok urodzenia"]]

       Imie  Rok urodzenia
0    Daniel           1970
1  Jarosław           1980
2   Mateusz           1990

In [19]:
type(df[["Imie"]])

pandas.core.frame.DataFrame

In [29]:
import datetime
df["Wiek"] = datetime.datetime.now().year - df["Rok urodzenia"]
df

KeyError: 'Rok urodzenia'

In [27]:
del(df["Rok urodzenia"])
df

       Imie   Nazwisko  Wiek
0    Daniel   Kowalski    53
1  Jarosław      Nowak    43
2   Mateusz  Zieliński    33