In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
!java --version

openjdk 11.0.18 2023-01-17
OpenJDK Runtime Environment (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1)
OpenJDK 64-Bit Server VM (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1, mixed mode, sharing)

In [11]:
# pobieranie danych z HTMLa
df_list = pd.read_html("http://51.91.120.89/extras/test.html", header=0, match="Programming")

In [12]:
len(df_list)

1

In [13]:
df_list[0]

  Programming Language             Creator  Year
0                    C      Dennis Ritchie  1972
1               Python    Guido Van Rossum  1989
2                 Ruby  Yukihiro Matsumoto  1995

In [16]:
# pobieranie danych z PDF
!pip install tabula-py -U

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.8/dist-packages (2.7.0)
Requirement already satisfied: distro in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [15]:
pd.__version__

'1.3.5'

In [17]:
import tabula

In [23]:
df_list = tabula.read_pdf("http://51.91.120.89/extras/autos.pdf", pages="all", pandas_options={"header":None})

In [24]:
df_list[0]

     0            1            2      3      4     5     6    7   8      9
0    0  alfa-romero  convertible   88.6  168.8  dohc  four  111  21      ?
1    1  alfa-romero  convertible   88.6  168.8  dohc  four  111  21  16500
2    2  alfa-romero    hatchback   94.5  171.2  ohcv   six  154  19      ?
3    3         audi        sedan   99.8  176.6   ohc  four  102  24  13950
4    4         audi        sedan   99.4  176.6   ohc  five  115  18      ?
..  ..          ...          ...    ...    ...   ...   ...  ...  ..    ...
56  81   volkswagen        sedan   97.3  171.7   ohc  four   85  27   7975
57  82   volkswagen        sedan   97.3  171.7   ohc  four   52  37   7995
58  86   volkswagen        sedan   97.3  171.7   ohc  four  100  26   9995
59  87        volvo        sedan  104.3  188.8   ohc  four  114  23  12940
60  88        volvo        wagon  104.3  188.8   ohc  four  114  23  13415

[61 rows x 10 columns]

In [28]:
json_txt = '{ "key1": [123], "key2" : [456], "key3" : ["Hello world"]  }'
with open("test.txt", "wt") as fd:
  fd.write(json_txt)
pd.read_json(json_txt)

   key1  key2         key3
0   123   456  Hello world